@import url(/Stylesheets/main.css);

.mark {
  margin: 2rem;
}

.bedge {
  height: 3rem;
  width: 3rem;
}
.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 2rem;
  width: 2rem;
  background-color: red;
  border-radius: 50%;
  position: relative;
}

.mail {
  left: 4rem;
  bottom: 6rem;
}

.cart {
  left: 11rem;
  bottom: 7.8rem;
}
.phone {
  left: 18rem;
  bottom: 10rem;
}
.insta {
  margin-left: 4rem;
  bottom: 12rem;
}

.hero-img {
  height: 100px;
  width: auto;
  border-radius: 50%;
}

.social {
  height: 2rem;
  width: 2rem;
  border: 0.2rem solid white;
  border-radius: 50%;
  position: absolute;
}

.online {
  background-color: var(--badge-online);
  left: 4rem;
  top: 4.5rem;
}

.idle {
  background-color: var(--badge-idle);
  left: 14.5rem;
  top: 4.5rem;
}

.offline {
  background-color: var(--badge-dnd);
  left: 25rem;
  top: 4.5rem;
}

.hero {
  position: absolute;
  top: 7rem;
}
