:root {
  --bg-color: #2828f0;
  --bg-white: #fffafa;
  --bg-gray-dark: #495057;
  --gray: #6c757d;
  --gray-light: #adb5bd;
  --white: #fdfdfd;
  --black: #050505;
  --oc-primary: #0096c7;
  --oc-primary-2: #00b4d8;
  --oc-primary-3: #48cae4;
  --oc-secondary-1: #52b788;
  --oc-secondary-2: #74c69d;
  --oc-secondary-3: #95d5b2;
}
